<div>
    <%= render partial: "shared/user_profile", locals: {user: @user} %>
    <h1 class="post-header">Posts</h1>

    
    <nav class="nav-container">
    <button>
    <%= link_to 'New Post', new_user_post_path(@user.id), class: 'add-post btn btn-primary justify-content-center align-self-center' %>
     </button>
     <button>
     <%= link_to "Home", root_path, class: "btn btn-primary justify-content-center align-self-center" %>
     </button>
    <button>
    <%= link_to "Back", :back, class: "btn btn-primary justify-content-center align-self-center" %>
    </button>
    </nav>
    <ul class="recent-posts">


    <% @user.posts.each do |post|%>


        <li class="post my-5 p-2 border border-3 container">
            <div>
                 <div>
                    <%= link_to user_post_path(@user.id, post.id), id: "user_post#{post.id}" do %> 
                        <h4 class="py-3"> <%= post.title %> </h4>
                     <% end %>      
                     <p> <%= post.text %> </p>      
                </div>
                <div>
                    <span>Comments: <%= post.comments.size%> </span>
                    <span>Likes: <%= post.likes.size%> </span>
                </div>
            </div>
            <br/>
            <div class="my-5 p-2 border border-3 container">
                <ul class="comments">
                    <% post.recent_comments.each do |comment| %>
                        <li><%= comment.author.name %> : <%= comment.text %> </li>
                    <% end %>
                </ul>
            <div>
        </li>
    <% end %>    
    </ul>
</div>