<div class="post p-2 border border-3 container-post">
        <nav class="nav-container-3">
     <button>
     <%= link_to "Home", root_path, class: "btn btn-primary justify-content-center align-self-center" %>
     </button>
    <button>
    <%= link_to "Back", :back, class: "btn btn-primary justify-content-center align-self-center" %>
    </button>
    </nav>

            <div>
                 <div class="post-info">  
                    <div><h4 class="py-3"> <%= @post.title %> by <%=@user.name %> </h4> </div>
                    <div class="info-container">
                      <div class="like-btn"><%= render "likes/create" %></div>
                        <div>Comments: <%= @post.comments.size%> </div>
                        <div>Likes: <%= @post.likes.size%> </div>
                        
                    </div >  
                </div>
                 <p> <%= @post.text %> </p> 
                   
            </div>
            <br/>
         
                <div class="my-5 p-2 border border-3 container">
                    <ul class="comments">
                        <% @post.comments.each do |comment| %>
                           <% unless !comment.persisted? %>
                                <li><%= comment.author.name %> : <%= comment.text %> </li>
                            <% end %>
                        <% end %>
                    </ul>  
                </div>

         
        
         <%= render "comments/create" %>
          
            
</div>